<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <h1>Survey</h1>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Family Size?</legend>
                <button type="button">2-3 Members</button>
                <button type="button">4-5 Members</button>
            </fieldset>

            <fieldset>
                <legend>Age Range?</legend>
                <button type="button">Kids (2-3yrs old)</button>
                <button type="button">Teens (13-18)</button>
                <button type="button">Adults (19-59)</button>
                <button type="button">Elderly (60+)</button>
            </fieldset>

            <fieldset>
                <legend>Meal Preference?</legend>
                <button type="button">Appetizer</button>
                <button type="button">Soup</button>
                <button type="button">Dessert</button>
                <button type="button">Vegetable Dish</button>
                <button type="button">Vegetable with Seafood</button>
                <button type="button">Vegetable with Meat</button>
            </fieldset>

            <fieldset>
                <legend>Allergies?</legend>
                <button type="button">Milk</button>
                <button type="button">Eggs</button>
                <button type="button">Seafood</button>
                <button type="button">Wheat</button>
                <button type="button">Peanuts</button>
                <button type="button">Soybeans</button>
                <button type="button">None</button>
                <textarea name="allergies" placeholder="Specify other allergies"></textarea>
            </fieldset>

            <fieldset>
                <legend>Cooking Skills?</legend>
                <button type="button">Beginner</button>
                <button type="button">Intermediate</button>
                <button type="button">Advanced</button>
            </fieldset>

            <button type="submit">Get Started</button>
        </form>
    </main>
</body>
</html>
